---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("blog")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Blog posts | Amanda P. Pinha"
	description="Learn about Amanda P. Pinha's most recent writings"
>
	<div class="flex flex-col gap-20">
		<main class="wrapper flex flex-col gap-8">
			<Hero title="Blog posts" tagline="See what I've been writing about recently." align="start" />
			<p>In construction...</p>
			<Grid variant="offset">
				<!-- {
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				} -->
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
