---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-stack</h2>
		<p>
			Strong foundation in <b>modern tech stacks</b>, particularly in React Native/Web, Typescript,
			NextJS, Vite, Web Components, both Node and Python backends, SQL and NoSQL databases.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Results-driven</h2>
		<p>
			I work closely with product and technical leaders to <b
				>translate user-centered product visions into reality</b
			>, from concept to completion.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Highly collaborative</h2>
		<p>
			I thrive in <b>collaborative</b>, <b>remote-first</b> team environments, <b>leading</b> by example
			through <b>effective communication</b> and hands-on coding.
		</p>
	</div>

	<style>
		.box {
			border: 1px solid var(--gray-800);
			border-radius: 0.75rem;
			padding: 1.5rem;
			background-color: var(--gray-999_40);
			box-shadow: var(--shadow-sm);
		}

		.skills {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}

		.skills h2 {
			font-size: var(--text-lg);
		}

		.skills p {
			color: var(--gray-400);
		}

		.skills p b {
			color: var(--accent-dark);
		}

		@media (min-width: 50em) {
			.box {
				border-radius: 1.5rem;
				padding: 2.5rem;
			}

			.skills {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 5rem;
			}

			.skills h2 {
				font-size: var(--text-2xl);
			}
		}
	</style>
</section>
